body {
    background-image: url(../images/logo.png);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: 3% 96%;
}

.reveal code {
    font-size: 18px;
}

blockquote strong {
    color: green; #green poly
}
